<div class="login container">
  <form class="login__form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="login__wrapper">
      <h1 class="login__title">Вход</h1>
      <label class="login__label">
        <span
          class="login__text"
          [class]="{
            'login__text-error': getIsValid('username')
          }"
        >
          Telegram username
        </span>
        <div class="login__username">
          <input
            class="login__input"
            [class]="{
              'login__input-error': getIsValid('username')
            }"
            formControlName="username"
            type="text"
            placeholder="Введите логин"
          />
          <a
            class="login__icon"
            href="http://t.me/icherniakov_info_bot"
            target="_blank"
            rel="noopener noreferrer"
          >
            <app-icon-telegram></app-icon-telegram>
          </a>
        </div>
      </label>
      <label class="login__label">
        <span
          class="login__text"
          [class]="{ 'login__text-error': getIsValid('password') }"
        >
          Пароль
        </span>
        <div class="login__password">
          <input
            class="login__input"
            [class]="{ 'login__input-error': getIsValid('password') }"
            formControlName="password"
            [type]="isPasswordShow() ? 'text' : 'password'"
            placeholder="Введите пароль"
          />
          <button
            class="login__icon"
            (click)="isPasswordShow.set(!isPasswordShow())"
          >
            <app-icon-password
              [color]="
                isPasswordShow() ? 'var(--color-heliotrope)' : '#FFFFFFBF'
              "
            ></app-icon-password>
          </button>
        </div>
      </label>
      <div class="login__btn">
        <app-button [type]="'submit'">Войти</app-button>
      </div>
    </div>
  </form>
  <div class="login__logo">
    <app-logo [size]="{ width: '440px', height: '410px' }"></app-logo>
  </div>
</div>
