/* You can add global styles to this file, and also import other style files */
:root {
  /* Colors */
  --color-white: #ffffff;
  --color-athens-gray: #f7f8fa;
  --color-silver-tree: #56b280;
  --color-main-shaft: #272727;
  --color-ebony-clay: #1d252c;
  --color-black: #000000;

  /* Fonts Size */
  --font-size-title: 40px;
  --font-size-subtitle: 18px;
  --font-size-text: 16px;

  /* Font Family */
  --font-family-poppins: 'Poppins', sans-serif;
  --font-family-roboto: 'Roboto', sans-serif;
}
